@import '../../theme/common';

.card {
  &.--default-padding {
    padding: $pad $pad-2;
  }
  &.--default-background {
    background-color: $clr-light;
  }
  &.--default-radius {
    border-radius: 6px;
  }

  &:not(.--var-high-contrast) {
    box-shadow: 0 0 $pad-1-3 rgba(0, 0, 0, 0.1);
  }
  &.--var-high-contrast {
    box-shadow: 0 0 $pad-1-2 rgba(0, 0, 0, 0.2);
  }
}
