@import '../../theme/common';

.container {
  min-height: calc(100vh - #{$pad});
  justify-content: flex-start;
  @include tablet-down {
    margin-top: $pad;
  }
  @include tablet-plus {
    justify-content: center;
  }
  > ._card {
    min-height: 40vh;
    padding: $pad-1-2;
    @include tablet-large-plus {
      @include margin-horizontal($pad-3);
      padding: $pad $pad-2;
    }
  }
}
