@import '../../../theme/common';

.successText {
  color: $clr-content-success;
}
.errorText {
  color: $clr-content-warning;
}

.securityMsg {
  padding: $pad;
  background-color: $clr-panel;
  color: $clr-light;
  @include tablet-plus {
    display: inline-block;
  }
}
