@import '../../../theme/common';

.dragCtnr {
  min-width: 100%;
  @include tablet-plus {
    min-width: 14rem;
  }
  display: inline-block;
}

.draggableHeading {
  border: 1px solid $clr-neutral-lt;

  padding: $pad-1-2 $pad-1-3;
  @include tablet-large-plus {
    padding: $pad-1-4 $pad-1-3;
  }
  margin-bottom: $pad-1-4;
  position: relative;

  > ._handle {
    position: absolute;
    right: $pad-1-4;
    color: $clr-neutral-lt2;
  }
  &:hover {
    background-color: lighten($clr-action, 48%);
    > ._handle {
      color: $clr-neutral-lt;
    }
  }

  &.__dragging {
    background-color: lighten($clr-action, 40%);
  }
  &.__disabled {
    color: $clr-disabled;
  }
}

.dragHandle {
  transform: rotate(90deg);
  line-height: 4px;
}

.buttonCtnr {
  @include mobile-only {
    flex: 1 0 auto;
  }
}